{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="min-h-screen p-8">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        <!-- Sidebar -->
            <div class="col-span-1">
                <div class="bg-white bg-opacity-70 p-6 rounded-lg shadow-lg">
                    <ul class="space-y-4">
                        <li class="nav-item">
                            <a href="{% url 'users:profile' %}" 
                                hx-get="{% url 'users:profile' %}" 
                                hx-target="#main-content" 
                                hx-push-url="true"
                                class="flex items-center text-gray-700 font-semibold text-sm tracking-wide hover:text-gray-900 {% if request.resolver_match.url_name == 'profile' %}text-gray-900 border-l-4 border-gray-500 pl-2{% endif %}">
                                ACCOUNT
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:order_history' %}" 
                                hx-get="{% url 'users:order_history' %}" 
                                hx-target="#profile-main-content" 
                                hx-push-url="true"
                                class="flex items-center text-gray-700 font-semibold text-sm tracking-wide hover:text-gray-900 {% if request.resolver_match.url_name == 'order_history' %}text-gray-900 border-l-4 border-gray-500 pl-2{% endif %}">
                                ORDER HISTORY
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:logout' %}" 
                                hx-get="{% url 'users:logout' %}" 
                                hx-target="#main-content" 
                                hx-push-url="true"
                                class="flex items-center text-gray-700 font-semibold text-sm tracking-wide hover:text-gray-900">
                                LOG OUT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            {% include "users/partials/order_history.html" %}
        </div>
{% endblock %}